version: '3'
volumes:
  pg_data:
  static:
  media:
services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always
  backend:
    image: drpvd/foodgram_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/backend_static
      - media:/app/media
    restart: always
  frontend:
    image: drpvd/foodgram_frontend
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
    depends_on:
      - backend
  gateway:
    depends_on:
      - backend
      - frontend
    image: drpvd/foodgram_gateway
    env_file: .env
    ports:
      - 8000:80
    volumes:
      - static:/static/
      - media:/app/media
    restart: always
